@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1366px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #feafc3;
  color: #2d3440;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.navigation {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  width: 575px;
  display: flex;
}

.main-navigation-list {
  width: 422px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
}

.select-control {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #feafc3;
  color: #2d3440;
  border: none;
  cursor: pointer;
}

.main-navigation-link {
  list-style-type: none;
  text-decoration: none;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.user-navigation {
  width: 431px;
  display: flex;
  justify-content: space-between;
}

.contacts-phone {
  align-self: center;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  width: 267px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.user-navigation-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px;
  border-radius: 30px;
  position: relative;
  align-content: center;
  display: flex;
}

.user-navigation-link-enter,
.user-navigation-link-cart {
  padding: 8px 16px;
}

.enter,
.cart {
  padding-right: 6px;
}

/* Main content */
.samples {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 80px;
}

.samples-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* display: flex; */
}

.samples-item {
  width: 1170px;
  position: relative;
  display: flex;
}

/* Text */
.samples-item-text {
  width: 525px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.samples-item-title {
  font-family: "Inter", sans-serif;
  color: #2d3440;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  width: 470px;
  margin: 136px 5px 24px 70px;
  display: inline-block;
}

.samples-item-description {
  font-family: "Inter", sans-serif;
  color: #2d3440;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 429px;
  margin: 0 41px 48px 70px;
  display: inline-block;
}

.samples-item-button {
  width: 147px;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  cursor: pointer;
  margin: 0 336px 112px 70px;
}

.slider-pagination {
  width: 52px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-pagination-button.current {
  width: 12px;
  height: 12px;
  background-color: #fcfcfc;
  border-radius: 100px;
  border: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background-color: #ffcbd8;
  border-radius: 100px;
  border: none;
}

/* Image */
.samples-main-image {
  width: 367px;
  position: relative;
}

.samples-item-image {
  width: 327px;
  margin: 21px 20px 26px 20px;

  background-color: #ffcbd8;
  background-position: center;
  background-size: 327px 312px;
  border-radius: 327px;
}

/* Slider button */
.slider-button {
  width: 40px;
  height: 38px;
  border: 2px solid rgba(252, 252, 252, 1);
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  outline: none;
  position: absolute;
}

.slider-prev {
  position: absolute;
  left: 0;
  top: 237px;
}

.slider-next {
  position: absolute;
  right: 0;
  top: 237px;
}

/* Small images */
.samples-slider-images {
  display: flex;
  width: 278px;
  position: relative;
}

.samples-images-list {
  display: flex;
  width: 240px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  margin-top: 204px;
  margin-left: 37px;
}

.samples-images-item {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 203, 216, 0.4);

  background-size: 100px 100px;
  border-radius: 50%;
  position: relative;
}

.sample-image {
  margin-left: 17px;
  margin-right: 17px;
  position: absolute;
  top: -25px;
}

.social-list {
  width: 104px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Promotion */
.promotion {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.promotion-main-title {
  width: 434px;
  margin: auto;
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 55px;
}

.promotion-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.promotion-item {
  width: 570px;
  display: flex;
  justify-content: space-between;
  background-color: #ff7799;
  position: relative;
  border-radius: 16px;
}

.promotion-text {
  width: 317px;
  display: flex;
  flex-direction: column;
  margin: 36px 200px 36px 36px;
}

.promotion-title {
  margin: 0;
  text-align: left;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 28px;
}

.promotion-description {
  margin: 0;
  width: 304px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 28px;
}

.promotion-button {
  width: 184px;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  cursor: pointer;
}

.promotion-image {
  position: absolute;
  right: 0;
  top: 8px;
}

/* Popular */
.popular {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.popular-title {
  width: 527px;
  margin: auto;
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 56px;
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-item {
  width: 270px;
  /* background-image: linear-gradient(
    to bottom,
    #feafc3 0,
    #feafc3 102px,
    #ffffff 102px,
    #ffffff 100%
  ); */
  position: relative;
}

.popular-image {
  margin: 0 51px 164px 51px;
}

.popular-container {
  border-radius: 8px;
  width: 270px;
  height: 281px;
  z-index: -1;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 51px;
  /* z-index: -2; */
}

.popular-text {
  width: 190px;
  margin: 133px 40px 24px 40px;
}

.popular-item-title {
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.popular-item-description {
  margin: 0;
  color: #565c66;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
}

.buy {
  display: flex;
  justify-content: space-between;
}

.popular-price {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.popular-buy {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.popular-cart-icon {
  padding: 8px 11px;
}

/* About */
.about {
  width: 1170px;
  height: 480px;
  margin: 0 auto;
  background-image: url(../images/background-about.png);
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 80px;
}

.about-container {
  width: 1122px;
  /* height: 432px; */
  /* margin: 24px 24px;
  margin-top: 24px; */
  border: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  position: absolute;
  top: 24px;
  left: 24px;
}

.about-title {
  width: 995px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.about-list {
  margin: 0 40px 56px 40px;
  padding: 0;
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 32px;
  list-style: none;
}

.about-item {
  display: flex;
  justify-content: space-between;
}

.about-description {
  margin: 0;
  margin-left: 16px;
  width: 441px;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.about-icon {
  height: 32px;
  width: 32px;
  padding: 8px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}
