@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1366px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #feafc3;
  color: #2d3440;
}

/* body.slider-1 {
  background-color: #feafc3;
} */

body.slider-2 {
  background-color: #69a9ff;
}

/* body.slider-3 {
  background-color: #fcc850;
} */

.container {
  margin: 0 auto;
  width: 1170px;
}

.navigation {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  width: 575px;
  display: flex;
}

.main-navigation-list {
  width: 422px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
}

/* Catalog list */
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.tabs-item {
  position: relative;
  padding-right: 22px;
}

.tabs-item-link {
  position: relative;
  padding-right: 22px;
}

.dropdown-item-svg {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-navigation-link {
  list-style-type: none;
  text-decoration: none;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
}

/* Catalog Dropdown List*/
.popover-dropdown {
  position: absolute;
  top: 37px;
  right: -17px;
  box-sizing: border-box;
  /* width: 135px; */
  font-family: "Inter", sans-serif;
  color: #2d3440;
  background-color: #fcfcfc;
  min-height: 188px;
  z-index: 1;

  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  /* align-items: flex-start; */
}

/* .popover-dropdown-close {
  display: none;
} */

.tabs-item-link:hover {
  padding: 8px 38px 8px 16px;
  border-radius: 30px;
  background: #ff4a78;
  color: #fcfcfc;
  background-image: url("../images/arrow-up-white.svg");
  background-repeat: no-repeat;
  background-position: 88px 12px;
  background-size: 16px 16px;
}

.tabs-item-link:hover .popover-dropdown {
  display: block;
  /* top: 37px;
  right: -17px; */
}

.tabs-item-link:hover .dropdown-item-svg {
  display: none;
}

.tabs-dropdown-list {
  margin: 0;
  list-style: none;
  width: 106px;
  padding-left: 16px;
  padding-right: 16px;
  /* align-items: flex-start; */
}

.tabs-dropdown-item {
  margin-top: 6px;
  margin-bottom: 6px;
}

.tabs-dropdown-item-link {
  text-decoration: none;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* margin-top: 6px;
  margin-bottom: 6px; */
}

.new-items {
  font-weight: 700;
  position: relative;
  margin-bottom: 22px;
}

.new-items-link {
  font-weight: 700;
}

.new-items-link::after {
  content: "";
  position: absolute;
  width: 103px;
  height: 1px;
  background: #b9b9b9;
  left: 0;
  bottom: -14px;
}

.user-navigation {
  width: 431px;
  display: flex;
  justify-content: space-between;
}

.contacts-phone {
  align-self: center;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  width: 267px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.user-navigation-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px;
  border-radius: 30px;
  position: relative;
  align-content: center;
  display: flex;
}

.user-navigation-link-enter,
.user-navigation-link-cart {
  padding: 8px 16px;
}

.enter,
.cart {
  padding-right: 6px;
}

/* Main content */

/* Slider */
.slider {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 80px;
  position: relative;
}

.slider-items {
  width: 1170px;
  display: flex;
}

.slider-description {
  width: 50%;
}

.slider-item {
  display: none;
}

.slider-item.current {
  display: block;
}

.slider-item-title {
  font-family: "Inter", sans-serif;
  color: #2d3440;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  width: 470px;
  margin: 136px 5px 24px 70px;
  display: inline-block;
}

.slider-item-description {
  font-family: "Inter", sans-serif;
  color: #2d3440;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 429px;
  margin: 0 41px 48px 70px;
  display: inline-block;
}

/* Slider button */
.slider-item-button {
  width: 148px;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  /* border: 4px solid #ffcbd8; */
  background: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  cursor: pointer;
  margin: 0 336px 112px 70px;
}

/* Slider Image */
.slider-images {
  width: 645px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
}

.slider-image {
  /* width: 20%; */
  width: 100px;
  order: 3;
  opacity: 0.4;
  position: relative;
}

.slider-image::after {
  content: "";
  color: #ffcbd8;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcbd8;
  z-index: -2;
}

.slider-image.current::after {
  content: "";
  color: #ffcbd8;
  width: 327px;
  height: 312px;
  border: none;
  border-radius: 327px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcbd8;
  z-index: -2;
}

.slider-image.current {
  width: 50%;
  order: 1;
  opacity: 1;
}

.slider-image.current + .slider-image {
  order: 2;
}

img {
  max-width: 100%;
  height: auto;
}

/* Slider Pagination */
.slider-pagination {
  width: 52px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.slider-pagination-button.current {
  background-color: #fcfcfc;
  opacity: 1;
}

/* Slider Navigation button */
.slider-nav-button {
  width: 40px;
  height: 38px;
  border: 2px solid rgba(252, 252, 252, 1);
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  outline: none;
  /* position: absolute; */
}

.slider-prev {
  position: absolute;
  left: 527px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-next {
  position: absolute;
  right: 277px;
  top: 50%;
  transform: translateY(-50%);
}

/* Slider Social */

.social-list {
  width: 104px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.social {
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
}

.social-link:hover {
  background-color: #2d3440;
}

/* Promotion */
.promotion {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.promotion-main-title {
  width: 434px;
  margin: auto;
  margin-bottom: 55px;
}

.section-title {
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.promotion-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.promotion-item {
  width: 570px;
  display: flex;
  justify-content: space-between;
  background-color: #ff7799;
  position: relative;
  border-radius: 16px;
}

.promotion-text {
  width: 317px;
  display: flex;
  flex-direction: column;
  margin: 36px 200px 36px 36px;
}

.promotion-title {
  margin: 0;
  text-align: left;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 28px;
}

.promotion-description {
  margin: 0;
  width: 304px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 28px;
}

.promotion-button {
  width: 184px;
  font-family: "Inter", sans-serif;
  color: #2d3440;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  cursor: pointer;
}

.promotion-image {
  position: absolute;
  right: 0;
  top: 8px;
}

/* Popular product */
.popular-product {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.product-title {
  width: 527px;
  margin: auto;
  margin-bottom: 56px;
}

.product-list {
  margin: 0;
  padding: 0;
  width: 1170px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.product-card {
  position: relative;
  padding-top: 51px;
  width: 270px;
}

a.product-card-image-link {
  position: absolute;
  top: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.product-imaage {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
}

.product-container {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 133px 40px 24px;
}

.product-card-title-link {
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  margin-bottom: 8px;
}

.product-card-description {
  margin: 0;
  color: #565c66;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
}

.buy {
  display: flex;
  justify-content: space-between;
}

.product-price {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.product-buy {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.product-cart-icon {
  padding: 8px -24px;
}

/* About */
.about {
  /* width: 1170px;
  height: 480px;
  margin: 0 auto; */
  background-image: url("../images/background-about.jpg");
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 80px;
  padding: 24px;
  background-size: cover;
  border-radius: 16px;
}

.about-container {
  /* width: 1122px; */
  background-color: #ffffff;
  /* background-image: url("../images/background-about.jpg"); */
  border-radius: 16px;
  /* padding: 24px; */
  /* position: absolute;
  top: 24px;
  left: 24px; */
  padding: 56px 40px;
}

.about-title {
  width: 995px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 56px;
}

.about-list {
  /* margin: 0 40px 56px 40px; */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
  list-style: none;
  margin: 0;
}

.about-item {
  display: flex;
  justify-content: space-between;
}

.about-description {
  margin: 0;
  margin-left: 16px;
  /* width: 441px; */
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.about-icon {
  height: 32px;
  width: 32px;
  padding: 8px;
  border: 2px solid #2d3440;
  border-radius: 50%;
  flex-shrink: 0;
}

/* Article-subscription */
.article-subscription {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.article {
  width: 570px;
  background-image: url("../images/article.jpg");
  background-repeat: no-repeat;
  background-color: #fbfbfb;
  /* background-position: center; */
  background-size: cover;
  border-radius: 16px;
}

.subscription {
  width: 570px;
  /* height: 224px; */
  background-image: url("../images/background-subscription.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
}

.article-text {
  display: block;
  width: 303px;
  margin: 0;
  padding: 33px 235px 67px 32px;
  text-decoration: none;
}

.article-news {
  width: 170px;
  margin: 0;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
}

.article-title {
  width: 303px;
  margin: 0;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscription-box {
  background-color: #ffffff;
  width: 558px;
  border-radius: 16px;
  margin: 6px 6px;
}

.subscription-text {
  width: 506px;
  margin: 0 auto;
}

.subscription-description {
  width: 506px;
  margin: 0;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 26px;
  padding-bottom: 42px;
}

.subscription-form {
  width: 506px;
  padding-bottom: 26px;
}

.subscription-field {
  width: 316px;
  height: 48px;
  padding-left: 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  background-color: transparent;
  color: #b9b9b9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.subscription-button {
  width: 160px;
  color: #fcfcfc;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
  padding: 12px 32px;
}

/* Delivery */
.delivery {
  width: 1170px;
  margin: 0 auto;
  background-image: url("../images/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e5e5e5;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
}

.delivery-description {
  width: 371px;
  padding: 167px 135px 163px 100px;
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
  width: 356px;
  text-align: left;
}

.delivery-text {
  width: 371px;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

.delivery-box {
  width: 500px;
  /* height: 406px; */
  border-radius: 8px;
  background: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  margin: 64px 64px 64px 0;
}

.delivery-box-title {
  width: 380px;
  margin: 40px 80px 32px 40px;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.delivery-form {
  width: 420px;
  margin: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.form-row {
  width: 420px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.delivery-label {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.delivery-form-field {
  height: 48px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background: #ffffff;
  margin-top: 8px;
  padding-left: 16px;
}

/* .delivery-form-field input[type="value"] {
  color: #b9b9b9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
} */

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  margin-left: -15px;
}

.field-group {
  margin: 0;
}

.field-date {
  width: 101px;
}

.field-phone {
  width: 271px;
}

.delivery-form-field::-webkit-outer-spin-button,
.delivery-form-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field-adress {
  width: 404px;
}

.delivery-button {
  width: 160px;
  margin: 0 auto;
  margin-top: 4px;
  color: #fcfcfc;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

/* Contacts */
.contacts {
  width: 1170px;
  margin: 0 auto;
  background-image: url("../images/contacts.jpg");
  background-color: #efd5d7;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-box {
  width: 343px;
  border-radius: 8px;
  background: #fcfcfc;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  margin: 64px 763px 64px 64px;
  display: inline-block;
}

.contacts-title {
  width: 179px;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 12px;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contacts-adress {
  width: 263px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
  margin-left: 40px;
}

.phone-title {
  width: 203px;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 12px;
  margin-left: 40px;
}

.contacts-box-phone {
  width: 225px;
  margin-left: 40px;
  margin-bottom: 0;
}

.contacts-box-phone-link {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.phone-time {
  width: 160px;
  color: #565c66;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 28px;
  margin-left: 40px;
  margin-top: 0;
}

.contacts-button {
  width: 258px;
  margin: 0 auto;
  /* margin-top: 4px; */
  color: #fcfcfc;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
  margin-left: 40px;
  margin-bottom: 38px;
}

/* Modal Window */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: rgba(45, 52, 64, 0.3);
}

.modal-close {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 442px;
  height: 417px;
  padding: 64px 64px 66px 64px;
  border: none;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  /* margin-bottom: 60px; */
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: #fcfcfc;
  border: none;
  background-image: url("../images/modal-cross.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
}

.modal-title {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.contacts-form-field {
  width: 422px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background-color: rgba(255, 255, 255, 1);
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 16px;
  margin-bottom: 16px;
  position: relative;
}

.field-text {
  height: 135px;
  padding-top: 14px;
  resize: none;
}

.modal-button {
  width: 160px;
  margin-top: 16px;
  color: #fcfcfc;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
  margin-left: 284px;
}

/* Popover Search */
.user-navigation-item-search {
  position: relative;
}

.user-navigation-link-search:hover {
  background-color: #ff2f64;
}

.user-navigation-link-search:hover path {
  fill: #fcfcfc;
}

.user-navigation-item-search:hover .popover {
  display: block;
}

.popover-search {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 6;
  box-sizing: border-box;
  width: 356px;
  height: 100%;
  background-color: #fcfcfc;
  min-height: 96px;
  border-radius: 4px;
  padding: 24px 16px;
}

.popover-search::before {
  background-color: transparent;
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: -15px;
  right: 0;
}

.field-search {
  width: 305px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background: #ffffff;
  padding-left: 16px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* Popover  Enter*/
.user-navigation-item-enter {
  position: relative;
}

.user-navigation-link-enter:hover {
  color: #fcfcfc;
  background-color: #ff2f64;
}

.user-navigation-link-enter:hover path {
  fill: #fcfcfc;
}

.user-navigation-item-enter:hover .popover {
  display: block;
}

.popover-enter {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 6;
  box-sizing: border-box;
  width: 420px;
  background-color: #fcfcfc;
  min-height: 350px;
  border-radius: 4px;
}

.popover-enter::before {
  background-color: transparent;
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: -15px;
  right: 0;
}

.popover-enter-content {
  height: 100%;
  width: 345px;
  padding: 48px 48px 52px 48px;
}

.field-enter {
  width: 308px;
  height: 48px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #b9b9b9;
  background: #ffffff;
}

.field-enter-password {
  background-image: url("../images/password-enter.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.popover-enter-bottom {
  margin-top: 16px;
  display: flex;
}

.popover-enter-button {
  padding: 12px 32px;
  align-items: center;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);

  color: #fcfcfc;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 23px;
  cursor: pointer;
}

.popover-help-link {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  position: relative;
}

.popover-help-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #2d3440;
  position: absolute;
  bottom: -2px;
  left: 0;
}

/* Popover  Cart*/
.user-navigation-item-cart {
  position: relative;
}

.user-navigation-link-cart:hover {
  color: #fcfcfc;
  background-color: #ff2f64;
}

.user-navigation-link-cart:hover path {
  fill: #fcfcfc;
}

.user-navigation-item-cart:hover .popover {
  display: block;
}

.popover-cart {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 6;
  box-sizing: border-box;
  width: 441px;
  background-color: #fcfcfc;
  min-height: 382px;
  border-radius: 4px;
}

.popover-cart::before {
  background-color: transparent;
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: -15px;
  right: 0;
}

.popover-close {
  display: none;
}

.popover-cart-content {
  height: 100%;
  width: 345px;
  padding: 48px;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
  text-align: left;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.popover-list {
  list-style: none;
  width: 345px;
  margin: 0;
  padding: 0;
  position: relative;
}

.popover-list::after {
  content: "";
  width: 345px;
  height: 1px;
  background-color: #e7e7e7;
  position: absolute;
  bottom: -32px;
  left: 0;
}

.popover-item {
  width: 345px;
  display: flex;
  margin-bottom: 24px;
  position: relative;
}

.popover-link {
  display: flex;
  text-decoration: none;
}

.popover-image {
  margin-right: 16px;
  width: 46px;
  height: 46px;
}

.popover-item-title {
  margin: 0;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 4px;
}

.popover-item-amount {
  margin: 0;
  color: #b9b9b9;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.popover-item-price {
  margin: 0;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  position: absolute;
  left: 226px;
  top: 50%;
  transform: translateY(-50%);
}

.popover-item-cross {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.popover-bottom {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.popover-cart-button {
  width: 206px;
  color: #fcfcfc;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #ff2f64;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
  padding: 12px 32px;
}

.sum {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 12px;
}

/* Footer */
.main-footer {
  width: 1170px;
  margin: 0 auto;
}

.footer-container {
  width: 1170px;
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  width: 104px;
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

.footer-about {
  width: 356px;
  display: grid;
  grid-template-columns: 150px 211px;
  gap: 1px 0;
  margin-bottom: 9px;
  align-items: baseline;
}

.footer-nav {
  margin: 0;
}

.footer-nav-link {
  text-decoration: none;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 24px;
  display: block;
}

.for-provider {
  font-weight: 700;
  position: relative;
}

.footer-svg {
  width: 16px;
  height: 16px;
  padding-right: 8px;
  position: absolute;
  top: 2px;
  left: 0;
}

.logo-html-academy-img {
  margin-bottom: 14px;
}

.rights {
  width: 193px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.academy-link {
  text-decoration: none;
  color: #2d3440;
  position: relative;
}

.academy-link::after {
  content: "";
  width: 82px;
  height: 1px;
  opacity: 0.5;
  background: #2d3440;
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* Catalog */
.main-content {
  width: 1170px;
  margin: 0 auto;
}

.breadcrumbs-content {
  width: 379px;
  margin: 32px 791px 40px 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  width: 335px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 28px;
  text-decoration: none;
  position: relative;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../images/arrows-right.svg");
  width: 12px;
  height: 12px;
  top: 7px;
  right: 7px;
}

.catalog-title {
  width: 379px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
}

/* Form */
/* Sorting */
.sorting-container {
  width: 823px;
  margin-bottom: 44px;
}

.catalog-form-row {
  width: 823px;
  margin: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-form-row:first-child {
  margin-bottom: 16px;
}

.catalog-sorting-titles {
  margin: 0;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 16px;
  margin-bottom: 8px;
}

.select-control {
  width: 196px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #ffcbd8;
  border-radius: 20px;
  border: none;
  padding: 8px 10px 8px 16px;
  position: relative;
  outline: none;
  background-image: url("../images/arrow-down.svg");
  background-size: 16px 16px;
  background-position: top 10px right 13px;
  background-repeat: no-repeat;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Price */
.price {
  width: 196px;
  border: none;
  position: relative;
  outline: none;
}

.range {
  width: 164px;
  background-color: #ffcbd8;
  border-radius: 20px;
  padding: 17px 16px;
}

.range-scale {
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  width: 56px;
  height: 2px;
  background-color: #565c66;
  position: absolute;
  left: 56px;
}

.range-toggle {
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  border: 6px solid #2d3440;
  padding: 0;
}

.toggle-min {
  top: -7px;
  left: -16px;
}

.toggle-max {
  top: -7px;
  right: -16px;
}

/* Radio Fat */
.radio {
  width: 383px;
}

.radio-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffcbd8;
  padding: 8px 24px;
  border: none;
  border-radius: 18px;
  list-style: none;
}

.control {
  position: relative;
  display: flex;
  padding-left: 24px;
}

.control-label {
  color: #2d3440;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(45, 52, 64, 1);
  border-radius: 50%;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: rgba(45, 52, 64, 1);
  border-radius: 50%;
  content: "";
}

/* Checkbox Fillers */
.checkbox {
  width: 604px;
}

.checkbox-list {
  margin: 0;
  background-color: #ffcbd8;
  border-radius: 18px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.checkbox-control-mark {
  position: absolute;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(45, 52, 64, 1);
  border-radius: 2px;
  background-repeat: no-repeat;
  z-index: 1;
}

.control-input {
  position: relative;
}

.control-input[type="checkbox"]:checked + .checkbox-control-mark {
  z-index: 2;
  display: none;
}

.control-input[type="checkbox"]:checked ~ .checked-svg {
  display: block;
}

svg.checked-svg {
  position: absolute;
  left: 0;
  top: 2px;
  display: none;
}

.sorting-button {
  margin-top: 28px;
  width: 185px;
  height: 36px;
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 20px;
  border: 2px solid #fcfcfc;
  background: #ffcbd8;
  padding: 6px 32px 7px 32px;
  cursor: pointer;
}

/* Product list Catalog */
.product {
  margin-bottom: 16px;
}

.catalog-product-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  /* grid-template-rows: repeat(3, 346px); */
  gap: 40px 30px;
  list-style: none;
}

/* Catalog bottom */
.catalog-bottom {
  width: 682px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-top: 41px;
  padding-bottom: 41px;
  position: relative;
  /* padding-left: 152px; */
  /* margin-left: auto; */
  padding-left: 488px;
}

.catalog-button {
  max-width: 187px;
  height: 52px;
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  border: 4px solid #ffcbd8;
  background: #fcfcfc;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  padding: 12px 32px 12px 32px;
  cursor: pointer;
}

.catalog-pagination {
  width: 168px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* position: relative; */
  margin-top: 14px;
  margin-bottom: 14px;
  /* align-items: start; */
}

.catalog-pagination-pages {
  margin: 0;
  padding: 0;
  width: 120px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.catalog-pagination-link {
  height: 16px;
  width: 16px;
}

.catalog-pagination-disabled {
  opacity: 0.3;
  margin: 4px 8px 4px 0;
}

.catalog-pagination-next {
  margin: 4px 0 4px 8px;
}

.catalog-pagination-arrow {
  margin-bottom: 2px;
}

.catalog-pagination-link-number {
  display: block;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: #2d3440;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 2px;
}

.catalog-pagination-current {
  background-color: #fcfcfc;
  background-size: 24px 24px;
  border-radius: 50px;
}

.catalog-bottom::after {
  content: "";
  width: 1170px;
  height: 1px;
  background: rgba(252, 252, 252, 0.3);
  position: absolute;
  bottom: -40px;
  left: 0;
}
